body {
    font-family: Arial, sans-serif;
    padding: 40px;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&w=1000&q=80");
    background-size: cover;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #999;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 1px 1px #999;
  }
  
  form {
    display: inline-block;
    background-color: rgba(242, 242, 242, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 100px #999;
    text-align: left;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="file"] {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="submit"] {
    background-color: #2f6dab;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 1px 1px 5px #999;
    outline: none;
  }
  
  input[type="submit"]:hover {
    background-color: #134b90;
  }
  
  label {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  